{% include 'header.html' %}

    <a href=" {{links.day_to_last_year}} "><img src="{{ vars.iconpath }}/arrow-bar-left.svg"></a>
    {{ vars.year }}
    <a href=" {{links.day_to_next_year}} "><img src="{{ vars.iconpath }}/arrow-bar-right.svg"></a>
    <a href=" {{links.day_to_last_month}}"><img src="{{ vars.iconpath }}/arrow-bar-left.svg"></a>
    <a href=" {{links.day_to_current_month}} ">{{ vars.month_name}}</a> 
    <a href=" {{links.day_to_next_month}} "><img src="{{ vars.iconpath }}/arrow-bar-right.svg"></a>
    <a href=" {{links.day_to_last_day}} "><img src="{{ vars.iconpath }}/arrow-bar-left.svg"></a>
    {{ vars.day }}
    <a href=" {{links.day_to_next_day}} "><img src="{{ vars.iconpath }}/arrow-bar-right.svg"></a>
  
  </p>
  <nav class="my-2 my-md-0 me-md-3">
    <a class="p-2 text-dark" target="_blub" href="https://github.com/thomasjacquin/allsky">Github</a>
    <a class="p-2 text-dark" target="_blub" href="http://www.thomasjacquin.com/allsky-map">Map</a>
  </nav>
  <a class="btn btn-outline-primary" href="http://www.thomasjacquin.com/make-your-own-allsky-camera/">Make your own</a>
</header>

<main class="container">
  <div class="pricing-header px-3 py-3 pt-md-5 pb-md-4 mx-auto text-center">
    <h1 class="display-4">{{ vars.day }}. {{ vars.month_name }} {{ vars.year }}</h1>
    <h2 class="display-7">From {{vars.sunset.strftime('%H:%M:%S') }} to {{vars.sunrise.strftime('%H:%M:%S')}}</h2>
  </div>

  <div class="row row-cols-1 row-cols-md-3 mb-3 text-center">
    <div class="col">
      <div class="card mb-4 shadow-sm">
      <div class="card-header">
        <h4 class="my-0 fw-normal">Startrails</h4>
      </div>
      <div class="card-body">
        <a href="startrails.jpg" target="_startrails_{{title_date}}"> <img src="startrails.jpg" class="img-thumbnail" alt="Startrails"></a>
      </div>
    </div>
    </div>

    <div class="col">
      <div class="card mb-4 shadow-sm">
      <div class="card-header">
        <h4 class="my-0 fw-normal">Keogram</h4>
      </div>
      <div class="card-body">
        <a href="keogram.jpg" target="_keogram_{{title_date}}"> <img src="keogram.jpg" class="img-thumbnail" alt="Keogram"></a>
      </div>
    </div>
    </div>

    <div class="col">
      <div class="card mb-4 shadow-sm">
      <div class="card-header">
        <h4 class="my-0 fw-normal">Timelaps</h4>
      </div>
      <div class="card-body">
        <a href="timelapse.mp4" target="_timelapse_{{title_date}}"> <img src="startrails.jpg" class="img-thumbnail" alt="Timelapse"></a>
      </div>
    </div>
    </div>

  </div>

  {% for filename in thumps %}
    <a href="original/{{ filename}}" target="_filename"> <img src="thumbnails/{{filename}}" class="img-fluid" alt="thumpnail for {{ filename }}"></a>
  {% endfor %}
  
{% include "footer.html" %} 
