{% include 'header.html' %}

      <a href="{{ links.month_to_last_year}}"><img src="{{ vars.iconpath }}/arrow-bar-left.svg"></a>
      {{ vars.year}}
      <a href="{{ links.month_to_next_year}}"><img src="{{ vars.iconpath }}/arrow-bar-right.svg"></a>
      /
      <a href="{{ links.month_to_last_month}}"><img src="{{ vars.iconpath }}/arrow-bar-left.svg"></a>
      {{ vars.month_name}}
      <a href="{{ links.month_to_next_month}}"><img src="{{ vars.iconpath }}/arrow-bar-right.svg"></a>
    </p>
    <nav class="my-2 my-md-0 me-md-3">
      <a class="p-2 text-dark" target="_blub" href="https://github.com/thomasjacquin/allsky">Github</a>
      <a class="p-2 text-dark" target="_blub" href="http://www.thomasjacquin.com/allsky-map">Map</a>
    </nav>
    <a class="btn btn-outline-primary" href="http://www.thomasjacquin.com/make-your-own-allsky-camera/">Make your own</a>
  </header>

  <main class="container">
    <div class="pricing-header px-3 py-3 pt-md-5 pb-md-4 mx-auto text-center">
      <h1 class="display-4">{{ vars.month_name}} {{ vars.year}} <LIVE VIEW></h1>
    </div>

    <a href="/tmp/image.jpg">
        <center><img src="/tmp/image.jpg" width="100"></center>
        <center>Live View</center>
    </a>

    <table class="table table-striped">
      <thead>
        <tr>
          <th class="text-left  ">Date      </th>
          <th class="text-center">Sunset   </th>
          <th class="text-center">Sunrise    </th>
          <th class="text-center">Keogram   </th>
          <th class="text-center">Startrails</th>
          <th class="text-center">Timelapse </th>
        </tr>
      </thead>

      <tbody>

        {% for d in monthinfo %}

        <tr>
          <td class="align-middle"> <a href="{{ d.daylink }}/index.html">{{d.number}}. {{ vars.month_name }}</a></td>
          <td class="text-center align-middle">{{ d.sunset.strftime('%H:%M:%S') }}</td>
          <td class="text-center align-middle">{{ d.sunrise.strftime('%H:%M:%S') }}</td>
          <td class="text-center align-middle"><a href="{{ d.daylink }}/keogram.jpg" target="_blub">
            <img src="{{ d.daylink }}/keogram.jpg" alt="keogram" height=100></a>
          </td>
          <td class="text-center align-middle"><a href="{{ d.daylink }}/startrails.jpg" target="_blub">
            <img src="{{ d.daylink }}/startrails.jpg" alt="startrails" width=200 class="img-thumbnail"></a>
          </td>
          <td class="text-center align-middle"><a href="{{ d.daylink }}/timelapse.mp4" target="_blub">
            <img src="{{ vars.iconpath }}/ondemand_video-24px.svg" alt="keogram" width=70 class="img-thumbnail"></a>
          </td>
        </tr>

        {% endfor %}

      </tbody>
    </table>

    {% include "footer.html" %} 
